---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: amount=100&currency=USD&interval=month&product[name]=MyString&product[type]=service
    headers:
      Authorization:
      - Bearer sk_test_h6Dw8Yt2Ef58aRiF0jAOZ1qS00n88zLhM1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "plan_H3K4bdHRfXi6eX",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 100,
          "amount_decimal": "100",
          "billing_scheme": "per_unit",
          "created": 1586250526,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": null,
          "product": "prod_H3K4aRKDtymqFX",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Tue, 07 Apr 2020 09:08:46 GMT
recorded_with: VCR 5.1.0
