---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: customer_email=carisa_king%40hahn.co&payment_method_types[0]=card&success_url=http%3A%2F%2F%2Fpayment_sessions%2Fsuccess%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2F%2Fpayment_sessions%2Fcancel
    headers:
      Authorization:
      - Bearer sk_test_h6Dw8Yt2Ef58aRiF0jAOZ1qS00n88zLhM1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "url_invalid",
            "doc_url": "https://stripe.com/docs/error-codes/url-invalid",
            "message": "Not a valid URL",
            "param": "success_url",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 07 Apr 2020 09:19:12 GMT
recorded_with: VCR 5.1.0
