%table.table
  %caption For Today
  %thead
    %tr
      %td
        User
      %td
        Count Parsers
      %td
        Parse Items count
  %tbody
    %tr
      %td
        CtuhuWeb
      %td
        200
      %td
        1000
