.aggregator {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in;
  
  &__image img {
    max-width: 100%;
  }

  &__last-update {
    font-size: 14px;
  }

  &__actions {
    position: absolute;
    display: flex;
    top: -2px;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    
    
  }
  
  .action {
    margin-right: 2px;
    
    &:last-child {
      margin-right: 0;
    }
    transition: all 0.3s ease-in-out;
    &_delete:hover {
      color: #f34636;
    }

    &_edit:hover {
      color: rgb(65, 196, 211);
    }
  }

  

  &:hover {
    box-shadow: 0 0.5rem 1rem  rgba(65, 196, 211, 0.5) !important;
   .aggregator__actions {
      top: -30px;
      opacity: 1;
    }
  }
}

.link-add{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  border-style: dashed !important;
  transition: all 0.3s ease-in-out;
  &:hover {
    border-style: solid !important;
    i {
      opacity: 1;
    }
  }

  i {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
  }
}