.alert{
  padding: 0;
  border: 0;
}

.btn-up{
  position: fixed;
  display: none;
  bottom: 1.5rem;
  right: 3rem;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

html{
  position: relative;
  min-height: 100%;
}
body{
  margin-bottom: 60px;
  font-family: 'Bellota Text', cursive;
}

.parse-item{
  .card-body{
    position: relative;
  }
}

.fa-star{
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.6;
  &:hover{
    color: #ffc107 !important;
    opacity: 1;
  }
  &_chosen{
    opacity: 1;
    color: #ffc107 !important;
  }
}