.row.mt-4
  .col-4.offset-2
    = render "form"
  .col-5
    = "- Name for site parse items will be have this tag" 
    = "- Url it where places blocks/elements that you want parse"
    = "- Block selector it css element for find every parse block/element"